<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @sap.name %>
</p>


<p><button type="button" id="me" class="btn btn-default">Login and Get</button></p>


<%= link_to 'Edit', edit_sap_path(@sap) %> |
<%= link_to 'Back', saps_path %>
