/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *


 *= require simple-sidebar
 *= require jPushMenu

 *= require font-awesome
 *= require bootstrap.min
 *= require bootstrap-notify
 *= require jquery.dataTables.min
 *= require validationEngine.jquery
 *= require__directory .
 *= require_self

 */
#mymessage {
  display: none;
}

.prev, .next {
  padding: 5px 10px;
  color: #fff;
  text-decoration: none;
}

.prev:hover, .next:hover {
  text-decoration: none;
}

.prev {
  float: left;
}

.next {
  float: right;
}

#steps {
  list-style: none;
  width: 100%;
  overflow: hidden;
  margin: 0px;
  padding: 0px;
}

#steps li {
  font-size: 24px;
  float: left;
  padding: 10px;
  color: #b0b1b3;
}

#steps li span {
  font-size: 11px;
  display: block;
}

#steps li.current {
  color: #000;
}

#makeWizard {
  background-color: #b0232a;
  color: #fff;
  padding: 5px 10px;
  text-decoration: none;
  font-size: 18px;
}

#makeWizard:hover {
  background-color: #000;
}

.nav, .navbar {
  height: 110px;
}

#logo {
  position: absolute;
}

li {
  list-style-type: none;
}

.navbar-nav > li {
  float: left;
  height: 120px;
  text-align: center;
  width: 170px;
}

ul.navbar-nav {
  margin-left: 140px;
}

.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
  background-color: #080808;
  color: #fff;
  height: 120px;
  padding-top: 30px;
}

.navbar-nav > li > a {
  height: 120px;
  padding-bottom: 15px;
  padding-top: 30px;
}

.col-md-6 a {

  font-size: 23px !important;
  line-height: 34px !important;
}

.col-md-6 h3 {
  font-size: 30px;
}

.col-md-6 .input-group {
  width: 100%;
}

#new_user, #login {
  width: 360px;
  margin: 0 auto;
}

.page-header {
  border-bottom: 1px solid #000000;
}

.darkgreen {
  background-color: #4E7C95 !important;
  color: #ffffff !important;
}

.lightgrey {
  background-color: #ADC5D2 !important;
  color: #ffffff !important;
}

.lightblue {
  background-color: #9CBCCD !important;
  color: #ffffff !important;
}

.darkblue {
  background-color: #31556d !important;
  color: #ffffff !important;
}

.veryblue {
  background-color: #00B5EF !important;
  color: #ffffff !important;
}

.pink {
  background-color: #EE3780 !important;
  color: #ffffff !important;
}

.green {
  background-color: #B0D236 !important;
  color: #ffffff !important;
}

.hide {
  display: none;
}

body {
  background-color: #eeeeee !important;
}

.mainright {
  position: fixed;
  float: right;
  width: 60px;
  margin-left: 405px;
  padding-left: 0px !important;
  overflow: auto;
}

.topspace {
  margin-top: 60px;
}

.icons {
  margin-left: -40px;
  width: 60px;
}

.cbp-spmenu::-webkit-scrollbar {
  display: none;
}

.cbp-spmenu {
  overflow-x: hidden;
  overflow-y: auto;
}

.flash {

  -moz-animation: flash 2s ease-out;
  -moz-animation-iteration-count: 40;

  -webkit-animation: flash 2s ease-out;
  -webkit-animation-iteration-count: 40;

  -ms-animation: flash 2s ease-out;
  -ms-animation-iteration-count: 40;

}

@-webkit-keyframes flash {
  0% {
    background-color: none;
  }
  50% {
    background-color: #888888;
  }
  100% {
    background-color: none;
  }
}

@-moz-keyframes flash {
  0% {
    background-color: none;
  }
  50% {
    background-color: #888888;
  }
  100% {
    background-color: none;
  }
}

@-ms-keyframes flash {
  0% {
    background-color: none;
  }
  50% {
    background-color: #888888;
  }
  100% {
    background-color: none;
  }
}

.white {
  color: #ffffff !important
}

.max {
  max-width: 85% !important;
  margin-left: auto;
  margin-right: auto;
}

.cbp-spmenu-left {
  overflow: visible !important;
}

.nav-tabs a {
  color: #000000 !important;
}

.left {
  margin-left: 15px;
}

.dropdown-backdrop {
  position: static;
}

#ui-id-7, #ui-id-6 {
  color: #444444;
}

.nav > li > a {
  position: relative;
  display: block;
  padding: 8px 8px !important;
}

.thin {
  padding-top: 5px !important;
  padding-bottom: 5px !important;
}

.left input {
  z-index: 999;
  position: relative;
}

.quote-panel {
  margin-bottom: 100px;
}

#spacer {
  margin-bottom: 70px;
}

.drop-target-one {
  border: 5px dashed #D9D9D9;
  border-radius: 10px;
  padding: 5em 2em;
  text-align: center;
}

.my-content-panel {
  overflow: hidden;
}

.wrapperScroll {
  display: flex;
  overflow: auto;
  max-height: 820px;
  margin-top: 20px;
  position: relative;
  min-width: 340px;

  will-change: overflow;
  padding-bottom: 380px;
}

.all, .tiles {
  overflow: auto;
  height: auto;
  padding: .5rem;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: none;
}

.Left::-webkit-scrollbar {
  display: none !important;
}

.tab_pane td {
  max-width: 300px !important;
}

.header-title {
  background-color: rgb(230, 230, 230);
  padding: 15px 10px;
  margin-top: 30px;
}

#subsection {
  margin-left: 20px;
}

#subsection .page-header {
  background-color: rgb(230, 230, 230);
  padding: 15px 10px;
}

.required-field-caption {
  color: #777;
  font-size: 0.8em;
  font-style: italic;
}

.topspace {
  margin-top: 110px;
}

.ui-tabs-nav li:first-child a {
  border-top: 1px solid #666;
}

.header-logos {
  padding-left: 76px;
}

.italtile-logo {
  margin-top: 6px;
}

.ispec-logo {
  margin-top: 29px;
  margin-left: 19px;
}

.middlepage {
  padding-top: 10px;
}

.alert {
  padding: 0;
  margin-bottom: 0;
  border: 1px solid transparent;
  border-radius: 4px;
}

.login {
  color: #ccc;
  position: absolute;
  top: -59px;
  right: 18px;
}

.create-buttons {
  margin: 8px 0;
  text-align: right;
}

.modal-body .actions {
  border-top: 1px solid #ddd;
  text-align: right;
  margin-top: 20px;
  padding-top: 13px;
  margin-left: -15px;
  margin-right: -15px;
  padding-right: 15px;
}

.add-margin-bottom {
  margin-bottom: 15px;
}

.ui-tabs-nav li a {
  color: #ffffff;
  display: inline-block;
  position: relative;
  width: 60px;
  outline: none;
}

.ui-tabs-nav li a:hover {
  color: #555 !important;
  background-color: #aaa;
}

.sidemenu-menu-active-state {
  color: #555 !important;
  background-color: #f7f7f7;
}

.side-menu-item-caption {
  display: inline-block;
  position: absolute;
  font-size: 11px;
  bottom: 4px;
  left: 50%;
  text-align: center;
  margin-left: -29px;
  width: 54px;
}
.side-menu-right-item-caption {
  display: inline-block;
  font-size: 11px;
  margin-bottom: -19px;
  left: 50%;
  text-align: center;
  margin-left: -15px;
  width: 54px;
}
.cbp-spmenu-vertical a {
  border-bottom: 1px solid #666;
  padding: 0.5em 1em 1.5em 1em;
}
.right-tabs a {
  padding: 0.3em 1em 0.2em;
}

.cbp-spmenu-vertical {
  box-shadow: 0px 0px 10px rgb(0, 0, 0);
}

.navbar-inverse {
  background-color: #333;
  border-color: transparent;
}

#ui-id-7, #ui-id-6 {
  color: #333;
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
  body {
    -webkit-transform: rotate(90deg);

    height: 100%;
    overflow: hidden;
    position: absolute;
    top: 0;
    margin-top: 141px;
    margin-right: -131px;
  }
}

.btn-sap {
  color: #ffffff;
  background-color: #2C3738;
  border-color: #2C3738;
}

.btn-sap:hover,
.btn-sap:focus,
.btn-sap:active,
.btn-sap.active,
.open .dropdown-toggle.btn-sap {
  color: #ffffff;
  background-color: #626263;
  border-color: #2C3738;
}

.btn-sap:active,
.btn-sap.active,
.open .dropdown-toggle.btn-sap {
  background-image: none;
}

.btn-sap.disabled,
.btn-sap[disabled],
fieldset[disabled] .btn-sap,
.btn-sap.disabled:hover,
.btn-sap[disabled]:hover,
fieldset[disabled] .btn-sap:hover,
.btn-sap.disabled:focus,
.btn-sap[disabled]:focus,
fieldset[disabled] .btn-sap:focus,
.btn-sap.disabled:active,
.btn-sap[disabled]:active,
fieldset[disabled] .btn-sap:active,
.btn-sap.disabled.active,
.btn-sap[disabled].active,
fieldset[disabled] .btn-sap.active {
  background-color: #2C3738;
  border-color: #2C3738;
}

.btn-sap .badge {
  color: #2C3738;
  background-color: #ffffff;
}

.cbp-spmenu-right {
  right: -390px;
  background: url("panel_bg_right.png") repeat-y scroll -3px 0px transparent;
}

.cbp-spmenu-left {
  right: -390px;
  background: url("panel_bg_left.png") repeat-y scroll -187px 0px transparent;
}

.menu-close {
  color: #ffef87;
  width: 60px;
  text-align: center;
  position: absolute;
  top: 70px;
  cursor: pointer;
}

.menu-close:hover {
  color: #ffffff;
}

.hidden {
  display: none;
}



/*********** Additional styling **************/

.search-items ul {margin:0; padding:0}
.search-items {padding-bottom:10px;}

.purr {
  position: fixed;
  top: 30px;
  right: 100px;
  width: 250px;
  padding: 20px;
  background-color: #FCC;
  border: solid 2px #666;
  &:first-letter { text-transform: uppercase };
}
.best_in_place {  border: 2px solid #0d77b6; padding:5px 20px;}